In [1]:
import pandas as pd
import tabula

In [11]:
dfs = tabula.read_pdf("20190925114437.pdf", lattice=True, pages = '9')

for df in dfs:
    display(df)

   Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3
0         NaN         男性         女性         全体
1         NaN        NaN        NaN        NaN
2      平成22年度     20,377      5,542     25,919
3         NaN        NaN        NaN        NaN
4      平成23年度     26,552      8,529     35,051
5         NaN        NaN        NaN        NaN
6      平成24年度     44,021     25,744     69,765
7         NaN        NaN        NaN        NaN
8      平成25年度     45,125     19,467     79,512
9         NaN        NaN        NaN        NaN
10     平成26年度     41,571     18,574     75,311
11        NaN        NaN        NaN        NaN
12     平成27年度     53,770     36,118     89,888
13        NaN        NaN        NaN        NaN
14     平成28年度    526,464    307,659    834,123
15        NaN        NaN        NaN        NaN
16      平成29年    999,609    623,751  1,623,360
17        NaN        NaN        NaN        NaN
18      平成30年    939,475    575,097  1,514,572
19        NaN        NaN        NaN        NaN

In [9]:
dfs = tabula.read_pdf("20190925114437.pdf", lattice=True, pages = '30')

for df in dfs:
    display(df)

  Unnamed: 0 Unnamed: 1        Unnamed: 2     Unnamed: 3   Unnamed: 4
0        NaN      契約事業場  ストレスチェッ\rク実施従業員数  医師面接対象者数\r(%)       実施数(%)
1        NaN        NaN               NaN            NaN          NaN
2       医師面接      5,892           603,700  73,668(12.2%)  6,073(8.2%)
3        NaN        NaN               NaN            NaN          NaN
4       相談対応      1,794           200,201              -  1,016(0.5%)
5        NaN        NaN               NaN            NaN          NaN

In [8]:
# lattice=Trueでテーブルの軸線でセルを判定
#dfs = tabula.read_pdf("平成30年 全衛連ストレスチェックサービス実施結果報告書.pdf", lattice=True, pages = '40')
dfs = tabula.read_pdf("20190925114437.pdf", lattice=True, pages = '40')

for df in dfs:
    display(df)

                   業種 高ストレ\rス者数       受検者数 高ストレス\r者の割合
0               農業、林業       647      4,221       15.3%
1                  漁業        88        732       12.0%
2        鉱業、採石業、砂利採取業       165      1,041       15.9%
3                 建設業     4,144     32,692       12.7%
4                 製造業    96,803    545,062       17.8%
5       電気・ガス・熱供給・水道業     1,603     14,618       11.0%
6               情報通信業     3,112     20,072       15.5%
7             運輸業、郵便業    16,068    117,188       13.7%
8              卸業、小売業    19,293    135,446       14.2%
9             金融業、保険業     4,922     42,740       11.5%
10         不動産業、物品賃貸業       558      5,130       10.9%
11    学術研究、専門・技術サービス業     1,023      8,949       11.4%
12            宿泊業、飲食業     3,749     28,404       13.2%
13      生活関連サービス業、娯楽業     1,790     13,246       13.5%
14           教育、学習支援業     9,285     81,843       11.3%
15              医療、福祉    20,653    153,124       13.5%
16           複合サービス事業     2,707     19,828       13.7%
17  サービス業(他に分類されないもの)    10,231     73,695       13.9%
18   公務(他に分類されるものを除く)    16,002    148,591       10.8%
19                その他     5,619     39,241       14.3%
20                全業種   218,462  1,485,863       14.7%
21             製造業中分類       NaN        NaN         NaN
22             食料品製造業     9,868     62,400       15.8%
23       飲料・たばこ・飼料製造業     1,039      9,678       10.7%
24               繊維工業     2,671     16,839       15.9%
25   木材・木製品製造業(家具を除く)       518      2,428       21.3%
26          家具・装備品製造業       685      3,735       18.3%
27      パルプ・紙・紙加工品製造業     1,512      7,310       20.7%
28            印刷・同関連業     3,122     16,650       18.8%
29               化学工業     2,495     16,085       15.5%
30       石油製品・石炭製品製造業        94        949        9.9%
31        プラスチック製品製造業     3,536     18,680       18.9%
32            ゴム製品製造業     1,410      8,171       17.3%
33     なめし皮・銅製品・毛皮製造業        24        204       11.8%
34         窯業・土石製品製造業     1,572      9,139       17.2%
35                鉄鋼業     2,273     13,016       17.5%
36            非鉄金属製造業     1,375      8,084       17.0%
37            金属製品製造業    10,829     54,030       20.0%
38         はん用機械器具製造業     2,296     10,653       21.6%
39         生産用機械器具製造業     2,611     15,462       16.9%
40         業務用機械器具製造業     1,370      7,215       19.0%
41  電子部品・デバイス・電子回路製造業     4,769     26,229       18.2%
42          電気機械器具製造業     7,365     46,342       15.9%
43        情報通信機械器具製造業       274      1,490       18.4%
44         輸送用機械器具製造業    14,352     74,099       19.4%